<app-faculty-menu></app-faculty-menu>
<body>
  <div class="dashboard-container">
    <img src="assets/images/faculty-attendance.jpeg" alt="Faculty Dashboard" class="dashboard-image">
    <h1 class="dashboard-title">Welcome to the Faculty Dashboard</h1>
    <p class="dashboard-text">
        Efficiently manage student attendance and academic records:<br>
        - Access the faculty menu for quick navigation.<br>
        - Add and manage student records with ease.<br>
        - View and edit student details as needed.<br>
        - Take attendance in real-time with just a few clicks.<br>
        - View attendance records for better monitoring.<br>
        Streamline your teaching experience with powerful tools!
    </p>

  </div>
</body>


