.table {
  background: white;
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
}

th {
  background: linear-gradient(to right, #11cb1d, #2575fc);
  color: white;
}

.btn {
  border-radius: 5px;
}
